
[bootstrap]
bootstrap-0.ocp.rhbr-labs.com ansible_host=10.0.0.40 macaddress="00:50:56:16:01:28"

[masters]
master-0.ocp.rhbr-labs.com ansible_host=10.0.0.50 macaddress="00:50:56:16:01:29"
master-1.ocp.rhbr-labs.com ansible_host=10.0.0.51 macaddress="00:50:56:16:01:2a"
master-2.ocp.rhbr-labs.com ansible_host=10.0.0.52 macaddress="00:50:56:16:01:2b"

[workers]
infra-0.ocp.rhbr-labs.com ansible_host=10.0.0.60 macaddress="00:50:56:16:01:2c"
infra-1.ocp.rhbr-labs.com ansible_host=10.0.0.61 macaddress="00:50:56:16:01:2d"
worker-0.ocp.rhbr-labs.com ansible_host=10.0.0.70 macaddress="00:50:56:a1:34:3e"
worker-1.ocp.rhbr-labs.com ansible_host=10.0.0.71 macaddress="00:50:56:a1:34:4a"
worker-2.ocp.rhbr-labs.com ansible_host=10.0.0.72 macaddress="00:50:56:a1:34:4b"

[etcd]
etcd-0.ocp.rhbr-labs.com ansible_host=10.0.0.50
etcd-1.ocp.rhbr-labs.com ansible_host=10.0.0.51
etcd-2.ocp.rhbr-labs.com ansible_host=10.0.0.52

[esx]
esx1.rhbr-labs.com ansible_host=10.0.0.11
esx2.rhbr-labs.com ansible_host=10.0.0.12
esx3.rhbr-labs.com ansible_host=10.0.0.13

[vcsa]
vcsa.rhbr-labs.com ansible_host=10.0.0.10