default-lease-time 900;
max-lease-time 7200;
subnet {{ subnet }} netmask {{ netmask }} {
option routers {{ gateway }};
option subnet-mask {{ netmask }};
option domain-search "{{ zone_name }}";
option domain-name-servers {{ dns_ip }};
next-server {{ dns_ip }};
if exists user-class and option user-class = "iPXE" {
filename "http://{{ dns_hostname }}:8080/boot.ipxe";
} else {
filename "undionly.kpxe";
}
}

{% for host in groups['bootstrap'] %}

host {{ hostvars[host]['inventory_hostname'].split(".")[0] }} {
hardware ethernet {{ hostvars[host]['macaddress'] }};
fixed-address {{ hostvars[host]['ansible_host'] }};
option host-name "{{ hostvars[host]['inventory_hostname'] }}";
}

{% endfor %}

{% for host in groups['masters'] %}

host {{ hostvars[host]['inventory_hostname'].split(".")[0] }} {
hardware ethernet {{ hostvars[host]['macaddress'] }};
fixed-address {{ hostvars[host]['ansible_host'] }};
option host-name "{{ hostvars[host]['inventory_hostname'] }}";
}

{% endfor %}

{% for host in groups['workers'] %}

host {{ hostvars[host]['inventory_hostname'].split(".")[0] }} {
hardware ethernet {{ hostvars[host]['macaddress'] }};
fixed-address {{ hostvars[host]['ansible_host'] }};
option host-name "{{ hostvars[host]['inventory_hostname'] }}";
}

{% endfor %}

